<form method="post" enctype="multipart/form-data" class="form-bordered">
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" class="form-control" placeholder="Enter Name"
			   value="{{ model.User.Name }}" required/>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
			   value="{{ model.User.Email }}" required/>
	</div>
	<div class="form-group">
		<label for="username">Username</label><br>
		<input type="text" id="username" name="username" class="form-control" placeholder="Enter Username"
			   value="{{ model.User.Username }}" required/>
	</div>
	<div class="form-group">
		<label for="password">Password</label><br>
		<input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
			   value=""/>
	</div>
	<div class="form-group">
		<label for="active">Active</label><br>
		<label class="switch switch-success">
			<input type="checkbox" id="active" name="active"
				   value="1"
				   {% if model.User.Active == 1 %}checked="checked"{% endif %}/>
			<span></span>
		</label>
	</div>
	<div class="form-group">
		<label for="picture">Image</label>
		<input type="file" id="image" name="image" class="form-control"/>
	</div>
	<div class="form-group form-actions">
		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save
		</button>
		<button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
		</button>
	</div>
</form>