{% extends "Master/Master.twig" %}

{% block title %}Gynny{% endblock %}

{% block body_class %}no-header{% endblock %}

{% block content %}

	<section id="form" class="page-section margin-top">
		<div class="container">

			<div class="row">
				<div class="col-md-7">
					<h2>Great, your registration was successful !!</h2>

					<p>
						To activate your account at Ubrium framework, we have to you to the specified mail address
						                         Activationlink sent (Please check also in Spamfolder). Please click on
						the email
						                         The verification link to activate your account.
					</p>
					<br>

					<p>
						Back to
						<a href="{{ Router.Create("home") }}">
							Startsite
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}