{% extends "Master/Master.twig" %}

{% block title %}Registration{% endblock %}


{% block body_class %}no-header{% endblock %}


{% block content %}
	<section id="form" class="page-section margin-top">
		<div class="container">

			<div class="row">
				<div class="col-md-6 content-right">
					<h3>Register!</h3>
					<form class="onboard-form" method="post" enctype="multipart/form-data">

						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="hidden" for="name">Name *</label>
									<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
									<label for="name-error" class="register-error-label">
										Please enter
									</label>
								</div>
								<div class="form-group">
									<label class="hidden" for="email">Email address *</label>
									<input type="email" class="form-control disable-space" id="email" name="email" placeholder="Email" required>
									<label for="email-error" class="register-error-label">
										Email is already used!
									</label>
								</div>
								<div class="form-group">
									<label class="hidden" for="username">Username</label>
									<input type="text" class="form-control" id="username" name="username" placeholder="Username">
								</div>
								<div class="form-group">
									<label for="image-user" style="font-weight: 400;">Upload image</label>
									<input type="file" name="image" class="form-control" id="image-user"
										   placeholder="User Photo">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="hidden" for="password">Password (min 8 characters) *</label>
									<input type="password" class="form-control" id="password" name="password"
										   placeholder="Password">
									<label for="length-error" class="register-error-label">
										Must be at least 8 characters long
									</label>
								</div>
								<div class="form-group">
									<label class="hidden" for="confirm-password">Confirm Password *</label>
									<input type="password" name="confirmPassword" class="form-control" id="confirm-password"
										   placeholder="Repeat password">
									<label for="confirm-password-error" class="register-error-label">
										Passwords are not same!
									</label>
								</div>
							</div>
						</div>
						<p class="text-right">
							<button type="submit" class="btn btn-light" id="save-user-password">Register</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block footer_scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {

			$.validate({
				validateOnBlur: false,
				modules: 'date, security, file'
			});

			$(".disable-space").on({
				keydown: function (e) {
					if (e.which === 32)
						return false;
				},
				change: function () {
					this.value = this.value.replace(/\s/g, "");
				}
			});

			HideLengthLabel();
			HideConfirmPasswordLabel();
			HideEmailLabel();
			HideAGBLabel();
			HideNameLabel();

			$("#save-user-password").on("click", function (e) {
				var isValidPassword = CheckPassword();
				var isValidEmail = CheckEmail();
				var isValidName = CheckName();

				if (isValidPassword == false || isValidEmail == false || isValidName == false) {
					e.preventDefault();
				}
			});
		});

		function HideLengthLabel() {
			$('label[for="length-error"]').hide();
		}

		function HideConfirmPasswordLabel() {
			$('label[for="confirm-password-error"]').hide();
		}

		function HideEmailLabel() {
			$('label[for="email-error"]').hide();
		}

		function HideNameLabel() {
			$('label[for="name-error"]').hide();
		}

		function HideAGBLabel() {
			$('label[for="agb-error"]').hide();
		}

		function CheckEmail() {

			var emailValue = $('#email').val();
			var previousColor = $('#email').css('border-color');

			var len = emailValue.length;

			var result = true;

			if (len < 1) {
				result = false;
				$('#email').css("border-color", "#F58473");
				$('label[for="email-error"]').html('Email is empty').show();

				setTimeout(function () {
					$('label[for="email-error"]').hide();
				}, 5000);

				setTimeout(function () {
					$('#email').css("border-color", previousColor);
				}, 5000);
			}
			else{
				$.ajax({
					url: "validation-email",
					method: "POST",
					data: {
						email: emailValue
					},
					async: false,
					dataType: "json",
					success: function (response) {
						result = !response.Success;

						if(result != true){
							$('label[for="email-error"]').show();
							$('#email').css("border-color", "#F58473");

							setTimeout(function () {
								$('label[for="email-error"]').hide();
							}, 5000);

							setTimeout(function () {
								$('#email').css("border-color", previousColor);
							}, 5000);
						}
					}
				});
			}

			return result;
		}

		function CheckName (){
			var data = $('#name').val();
			var len = data.length;
			var previousColor = $('#name').css('border-color');

			var isValid = true;

			if (len < 1) {
				isValid = false;
				$('#name').css("border-color", "#F58473");
				$('label[for="name-error"]').show();

				setTimeout(function () {
					$('label[for="name-error"]').hide();
				}, 5000);

				setTimeout(function () {
					$('#name').css("border-color", previousColor);
				}, 5000);
			}

			return isValid;
		}

		/**
		 * @return {boolean}
		 */
		function CheckPassword() {
			var data = $('#password').val();
			var confirmPassword = $('#confirm-password').val();
			var len = data.length;
			var previousColor = $('#password').css('border-color');

			var isValid = true;

			if (len < 8) {
				isValid = false;
				$('#password').css("border-color", "#F58473");
				$('label[for="length-error"]').show();

				setTimeout(function () {
					$('label[for="length-error"]').hide();
				}, 5000);

				setTimeout(function () {
					$('#password').css("border-color", previousColor);
				}, 5000);

			}else {
				if (data != confirmPassword) {
					isValid = false;
					$('#password').css("border-color", "#F58473");
					$('#confirm-password').css("border-color", "#F58473");
					$('label[for="confirm-password-error"]').show();

					setTimeout(function () {
						$('label[for="confirm-password-error"]').hide();
					}, 5000);

					setTimeout(function () {
						$('#password').css("border-color", previousColor);
						$('#confirm-password').css("border-color", previousColor);
					}, 5000);

				}
			}

			return isValid;
		}

	</script>
{% endblock %}

