{% extends "Master/Master.twig" %}

{% block title %}Gynny{% endblock %}


{% block body_class %}no-header{% endblock %}


{% block content %}
	<section id="form" class="page-section">
		<div class="container">
			<div class="page-spacer">
				<div class="content-forgot-password">
					<form class="pure-form pure-form-stacked forgot"
						  action="{{ Router.Create("reset-user-password-form") }}" method="post">
						<fieldset>

							<label for="password">Password</label>
							<input id="password" name="password" class="disable-space" type="password">
							<label for="length-error" class="confirm-password-error">
								Must be at least 8 characters long
							</label>

							<label for="confirmPassword">Confirm Password</label>
							<input id="confirmPassword" name="confirmPassword" class="disable-space" type="password">
							<label for="error" class="confirm-password-error">
								Passwords doesn't match
							</label>

							<input type="hidden" name="userId" value="{{ model.UserId }}">
						</fieldset>
						<button id="save-new-user-password" type="submit" class="btn primary change">Change password
						</button>

					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript">

		$(document).ready(function () {

			$(".disable-space").on({
				keydown: function (e) {
					if (e.which === 32)
						return false;
				},
				change: function () {
					this.value = this.value.replace(/\s/g, "");
				}
			});

			HideLabel();
			HideLengthLabel();

			$("#save-new-user-password").on("click", function (e) {
				var isValid = CheckPassword();
				if (isValid == false) {
					e.preventDefault();
				}
			});

			function SetColor(color) {
				$('#password').css("border-color", color);
				$('#confirmPassword').css("border-color", color);
			}

			function HideLabel() {
				$('label[for="error"]').hide();
			}

			function HideLengthLabel() {
				$('label[for="length-error"]').hide();
			}

			/**
			 * @return {boolean}
			 */
			function CheckPassword() {
				var data = $('#password').val();
				var len = data.length;
				var previousColor = $('#confirmPassword').css('border-color');

				var isValid = true;

				if (len < 8) {
					isValid = false;
					$('#password').css("border-color", "#F58473");
					$('label[for="length-error"]').show();

					setTimeout(function () {
						$('label[for="length-error"]').hide();
					}, 5000);
				} else {
					if ($('#password').val() != $('#confirmPassword').val()) {
						isValid = false;
						$('#confirmPassword').css("border-color", "#F58473");

						$('label[for="error"]').show();

						setTimeout(function () {
							$('label[for="error"]').hide();
						}, 5000);

						setTimeout(function () {
							$('#confirmPassword').css("border-color", previousColor);
						}, 5000);
					}
				}

				return isValid;
			}
		});


	</script>
{% endblock %}