{% extends "Master/MasterConfirmation.twig" %}

{% block title %}Gynny{% endblock %}


{% block body_class %}no-header{% endblock %}


{% block content %}

	<section class="page-section margin-top">
		<div class="container">

			<div class="row">
				<p>
					Your password is <strong>not successfully</strong> changed
				</p>
				<br>
				<p>
					Back to
					<a href="{{ Router.Create("home") }}">
						Startsite
					</a>
				</p>
			</div>
		</div>
	</section>

{% endblock %}