{% extends "Master/Master.twig" %}

{% block title %}Gynny{% endblock %}


{% block head %}

{% endblock %}


{% block content %}

	<section class="page-section margin-top">
		<div class="container">
			<div class="row">
				<p>
					Your password is successfully changed
				</p>
				<br>
				<p>
					Back to
					<a href="{{ Router.Create("home") }}">
						Startsite
					</a>
				</p>
			</div>
		</div>
	</section>

{% endblock %}