{% extends "Master/Master.twig" %}

{% block title %}Gynny{% endblock %}


{% block body_class %}no-header{% endblock %}

{% block content %}

	<section class="page-section margin-top">
		<div class="container">

			<div class="row">
				<h2>Your registration is not successful. Confirm link has expired</h2>
				<br>
				<p>
					Back to
					<a href="{{ Router.Create("home") }}">
						Startsite
					</a>
				</p>
			</div>
		</div>
	</section>

{% endblock %}