<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog forgot" role="document">
        <div class="modal-content forgot">
            <div class="modal-header forgot">
                <h4 class="modal-title">Forgot Password</h4>

            </div>
            <div class="modal-body forgot">
                <p>Change your password now.</p>
                <form
                        action="{{ Router.Create("send-email-to-change-password") }}" method="post"
                        style="width: 100% !important;">
                    <div class="form-group">
                        <label for="email-reset-password">E-Mail</label>
                        <input id="email-reset-password" class="form-control" name="email" type="email">
                    </div>

                    <button type="submit" class="btn btn-light forgot">Send Password</button>
                </form>
            </div>
        </div>
    </div>
</div>