{% extends "Master/Master.twig" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
	<h1 style="text-align: center; margin-bottom: 50px;">HOMEPAGE</h1>

	{% if Helper.IsLoggedIn() == true %}
		{% if model.Users | length %}
			{% for user in model.Users %}
				<div class="row user-row">
					<div class="col-lg-3">
						<img src="{{ user.GetImageUrl() }}"/>
					</div>
					<div class="col-lg-3">{{ user.Name }}</div>
					<div class="col-lg-3">{{ user.Email }}</div>
					<div class="col-lg-3">{{ user.RegistrationDate }}</div>
				</div>
			{% endfor %}
		{% endif %}
	{% else %}
		<p style="text-align: center;">Log in to see list of users!</p>
	{% endif %}
{% endblock %}