<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<base href="{{ constant('Config::baseurl') }}"/>

		<meta charset="utf-8"/>
		<title>{% block title %}{% endblock %} - Admin Ubrium Framework</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link rel="shortcut icon" href="Theme/img/penguin.ico"/>
		<link rel="apple-touch-icon" href="Theme/img/icon57.png" sizes="57x57"/>
		<link rel="apple-touch-icon" href="Theme/img/icon72.png" sizes="72x72"/>
		<link rel="apple-touch-icon" href="Theme/img/icon76.png" sizes="76x76"/>
		<link rel="apple-touch-icon" href="Theme/img/icon114.png" sizes="114x114"/>
		<link rel="apple-touch-icon" href="Theme/img/icon120.png" sizes="120x120"/>
		<link rel="apple-touch-icon" href="Theme/img/icon144.png" sizes="144x144"/>
		<link rel="apple-touch-icon" href="Theme/img/icon152.png" sizes="152x152"/>
		<link rel="stylesheet" href="Theme/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="Theme/css/plugins.css"/>
		<link rel="stylesheet" href="Theme/css/main.css"/>
		<link rel="stylesheet" href="Theme/css/themes.css"/>
		<link rel="stylesheet" href="Theme/css/style.css"/>

		{% block head_css %}
		{% endblock %}
	</head>
	<body class="{% block body_class %}{% endblock %}">
		<div id="page-container" class="sidebar-full">

			<div id="main-container" style="margin-left: 0 !important;">

				<header class="navbar navbar-default">
					<a href="" class="">
						<img class="admin-logo" src="Theme/Media/ubrium.png" style="margin-top: 5px;"/>
					</a>
				</header>
				<div id="page-content">

					{% block content %}

					{% endblock %}

				</div>
				<footer class="clearfix">
					<div class="pull-right">
						Crafted with <i class="fa fa-heart text-danger"></i> by <a href="">Ubrium Galactic</a>
					</div>
					<div class="pull-left">
						{{ "now"|date("Y") }} &copy; <a href="">Ubrium Galactic Admin</a>
					</div>
				</footer>
			</div>
		</div>
		<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

		<div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header text-center">
						<h2 class="modal-title"><i class="fa fa-pencil"></i> Settings</h2>
					</div>
					<div class="modal-body">
						<form action="index.php" method="post" enctype="multipart/form-data"
							  class="form-horizontal form-bordered" onsubmit="return false;"/>
						<fieldset>
							<legend>Vital Info</legend>
							<div class="form-group">
								<label class="col-md-4 control-label">Username</label>

								<div class="col-md-8">
									<p class="form-control-static">Admin</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="user-settings-email">Email</label>

								<div class="col-md-8">
									<input type="email" id="user-settings-email" name="user-settings-email"
										   class="form-control"
										   value="admin@example.com"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="user-settings-notifications">Email
									Notifications</label>

								<div class="col-md-8">
									<label class="switch switch-primary">
										<input type="checkbox" id="user-settings-notifications"
											   name="user-settings-notifications" value="1" checked=""/>
										<span></span>
									</label>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Password Update</legend>
							<div class="form-group">
								<label class="col-md-4 control-label" for="user-settings-password">New Password</label>

								<div class="col-md-8">
									<input type="password" id="user-settings-password" name="user-settings-password"
										   class="form-control" placeholder="Please choose a complex one.."/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="user-settings-repassword">Confirm New
									Password</label>

								<div class="col-md-8">
									<input type="password" id="user-settings-repassword" name="user-settings-repassword"
										   class="form-control" placeholder="..and confirm it!"/>
								</div>
							</div>
						</fieldset>
						<div class="form-group form-actions">
							<div class="col-xs-12 text-right">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="Theme/js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
		<!--[if IE 8]>
		<script src="Theme/js/helpers/excanvas.min.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="Theme/js/vendor/bootstrap.min.js"></script>
		<script src="Theme/js/plugins.js"></script>
		<script src="Theme/js/app.js"></script>
		<script src="Theme/js/pages/index.js"></script>
		<script src="Theme/js/main.js"></script>
		<script src="Theme/js/vendor/jquery.confirm.min.js"></script>
		<script>$(function () {
				Index.init();
			});
		</script>

		{% block footer_scripts %}

		{% endblock %}

		{% block help_script %}
		{% endblock %}
	</body>
</html>