<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<base href="{{ constant('Config::baseurl') }}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %} - Ubrium Framework</title>
	<meta name="description"
		  content="Object-oriented, MVC, PHP Framework">
	<meta name="keywords" content="object oriented,mvc,php,framework"/>
	<meta name="author" content="Ubrium Galactic LLC"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block og_meta %}{% endblock %}

	<link rel="shortcut icon" href="" type="image/x-icon">

	<!-- css section -->
	<link rel="stylesheet" href="Theme/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="Theme/css/style.css?v=0.0.1"/>

	{% block head_css %}
	{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="header">
	<div class="logo-holder">
		<a href="{{ Router.Create("home") }}">
			<img class="logo" src="Theme/Media/ubrium.png"/>
		</a>
	</div>

	<div class="user-holder">
		{% if Helper.IsLoggedIn() == true %}
			Hi, {{ Helper.GetCurrentUser().Name }}
			<a href="{{ Router.Create("edit-profile") }}">
				<img class="user-image" src="{{ Helper.GetCurrentUser().Image }}"/>
			</a>
			<a class="btn btn-danger" href="{{ Router.Create("logout") }}">Logout</a>
		{% else %}
			<a class="btn btn-default" href="{{ Router.Create("login") }}">Login</a>
			<a class="btn btn-success" href="{{ Router.Create("registration") }}">Register</a>
		{% endif %}
	</div>
</div>
{% block content %}

{% endblock %}

<!-- Javascript -->
<script src="Theme/js/jquery.min.js"></script>
<script src="Theme/bootstrap/js/bootstrap.min.js"></script>
<script src="Theme/js/main.js?v=0.0.1"></script>

{% block footer_scripts %}

{% endblock %}

{% block help_script %}
{% endblock %}
</body>
</html>