.header {
	padding: 30px;
}

.logo-holder{
	display: inline-block;
}

.logo {
	width: 300px;
}

.user-holder {
	display: inline-block;
	float: right;
}

.user-image {
	width: 50px;
}

.user-row img{
	width: 100px;
}