<li class="sidebar-header">
    <span class="sidebar-header-title">Users</span>
</li>
<li>
    <a href="#" class="sidebar-nav-menu">
        <i class="fa fa-angle-left sidebar-nav-indicator"></i>
        <i class="gi gi-user sidebar-nav-icon"></i>Users
    </a>
    <ul>
        <li>
            <a href="{{ Router.Create("users") }}">List</a>
        </li>
    </ul>
</li>