{% block content %}
	<div class="col-md-12 content-options">
		<div class="form-holder">
			<form class="form-horizontal add-new-user" action="{{ Router.Create("change-password") }}" method="post" enctype="multipart/form-data">
				<div class="row" style="margin-bottom: 15px !important;">
					<div class="col-md-6">

						<div class="form-group">
							<label for="currentPassword">Current Password</label>
							<input type="password" class="form-control" id="currentPassword" name="currentPassword"
								   value=""
								   placeholder="Enter Current Password" required>
						</div>

						<div class="form-group">
							<label for="newPassword">New Password</label>
							<input type="password" class="form-control" id="newPassword" name="newPassword"
								   value=""
								   placeholder="Enter New Password" required>
						</div>
						<div class="form-group">
							<label for="repeatPassword">Repeat Password</label>
							<input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
								   value=""
								   placeholder="Repeat Password" required>
						</div>

						<div class="alert alert-danger" id="passwordMismatch" style="display: none;">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Passwords dont match!</strong> Please repeat the password correctly.
						</div>

						<div class="form-group" style="text-align: center; margin-top: 35px !important;">
							<button type="submit" class="btn btn-default save-btn">Save</button>
						</div>
					</div>

					<div class="col-md-6">
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}