{% block content %}
	<div class="col-md-12 content-options">
		<div class="form-holder">
			<form class="form-horizontal" action="{{ Router.Create("change-email") }}" method="post" enctype="multipart/form-data">
				<div class="row" style="margin-bottom: 15px !important;">
					<div class="col-md-6">

						<div class="form-group">
							<label for="newEmail">New Email</label>
							<input type="email" class="form-control" id="newEmail" name="newEmail"
								   value="{{ (model.User.Email != null) ? model.User.Email : '' }}"
								   placeholder="Enter New Email" required>
						</div>

						<div class="form-group">
							<label for="repeatEmail">Repeat Email</label>
							<input type="email" class="form-control" id="repeatEmail" name="repeatEmail"
								   value=""
								   placeholder="Repeat Email" required>
						</div>

						<div class="alert alert-danger" id="emailMismatch" style="display: none;">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Emails dont match!</strong> Please repeat the email correctly.
						</div>

						<div class="form-group">
							<label for="currentPassword">Current Password</label>
							<input type="password" class="form-control" id="currentPassword" name="currentPassword"
								   value=""
								   placeholder="Enter Current Password" required>
						</div>

						<div class="form-group" style="text-align: center; margin-top: 35px !important;">
							<button type="submit" class="btn btn-default save-btn">Save</button>
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}