{% extends "Master/ErrorMaster.twig" %}

{% block title %}Error 401{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h1 class="animation-pulse">
				<i class="fa fa-times-circle-o text-muted"></i>
				401
			</h1>

			<h2 class="h3">
				Oops, we are sorry but you are not authorized to access this page...
			</h2>
		</div>
	</div>
{% endblock %}
