{% include 'Mail/Partial/Header.twig' %}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
			<table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
				<tr>
					<td>
						<!-- HERO IMAGE -->
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<!-- COPY -->
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="center"
												style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;"
												class="padding-copy">Hello {{ model.Name }},
											</td>
										</tr>
										<tr>
											<td align="center"
												style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
												class="padding-copy">Welcome to Ubrium framework. Please click on the
												                                                 The following link to
												unlock your account: <br>
												<a href="{{ Router.Create("new-user-confirmation-link", {guid: model.ConfirmationLink}) }}">
													{{ Router.Create("new-user-confirmation-link", {guid: model.ConfirmationLink}) }}
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% include 'Mail/Partial/Footer.twig' %}