<html>
<head>
	<title>Maintenance - Ubrium Framework</title>
	<style>
		h1, p {
			text-align: center;
		}

		.logo {
			width: 300px;
			margin: 200px auto 0;
			display: block;
		}
	</style>
</head>
<body>
<img class="logo" src="Theme/Media/ubrium.png"/>
<h1>The site is currently under maintenance!</h1>
<p>Expected return date: 26.2.2017 23:00</p>
</body>
</html>