{% extends "Master/Master.twig" %}

{% block title %}Dashboard{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
	<div class="content-header content-header-media">
		<div class="header-section">
			<div class="row">
				<div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
					<h1>Welcome <strong>{{ Helper.GetCurrentUser().Name }}</strong><br/>
						<small>You Look Awesome!</small>
					</h1>
				</div>
			</div>
		</div>
		<img src="Theme/img/placeholders/headers/dashboard_header.jpg" alt="header image"
			 class="animation-pulseSlow"/>
	</div>
	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<a href="{{ Router.Create("users") }}">
			<div class="widget">
				<div class="widget-simple">
					<div
							class="widget-icon pull-left themed-background-autumn animation-fadeIn">
						<i class="fa fa-user"></i>
					</div>

					<h3 class="widget-content text-right animation-pullDown">
						<strong>{{ model.Statistics.UserCount }} Users</strong><br/>
					</h3>
				</div>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-3">
			<a href="{{ Router.Create("users") }}">
			<div class="widget">
				<div class="widget-simple">
					<div
							class="widget-icon pull-left themed-background-spring animation-fadeIn">
						<i class="gi gi-beer"></i>
					</div>

					<h3 class="widget-content text-right animation-pullDown">
						<strong>{{ model.Statistics.AdminCount }} Admins</strong><br/>
					</h3>
				</div>
			</div>
			</a>
		</div>
	</div>
{% endblock %}